*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}


.title-logo-container{
  width: 100%;
  position: fixed;
  background-color: grey;
  border-bottom: 1px solid black;
}

.logo{
  height: 300px;
  padding: 30px

}

h1{
  font-size: 80px;
  display: inline;
  vertical-align: 125px;
}

.spazio{
  height: 306px;
  border: 1px solid black;
}

.riga{
  margin-top: 50px;
}

.box{
  display: inline-block;
  height: 700px;
  width: 24%;
  border: 1px solid black;
  margin-left: 30px;
}

.container{
  height: 100%;
}
